fieldset {	
	background-color: #FEFAC0;
	overflow: hidden;
	height: 450px;
	margin: 4px;
	border: 2px solid black;
	border-box: box-sizing;
	padding: 0 12px;
}

#addSongDiv {
	width: 250px;
	height: 300px;
	margin: 50px auto;
	border: 3px solid grey;
}

#add {
	display: inline-block;
	padding: 10px;
	float: left;
	margin: 10px 85px;
}
