nav {
	background-color: #FFB4B0;
	border: 2px solid black;
	height: 50px;	

}

.setBar:after {
	content:"|";
	display: inline-block;
	margin-left: 10px;
}

.setBar {
	margin-left: 10px;
	display: inline-block;
	float: left;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

#needMoreSongs {
	float: right;
	margin-top: 5px;

}