/*elements*/

nav {
	background-color: #FFB4B0;
	border: 2px solid black;
	height: 50px;	
}

fieldset {	
	background-color: #FEFAC0;
	overflow: hidden;
	height: 450px;
	margin: 4px	;
	border: 2px solid black;
	border-box: box-sizing;
	padding: 0 12px;
}

/*classes*/

/*nav classes*/
.nav li {
	text-decoration: none;
	float: left;
	display: inline-block;
	margin-left: 10px;
}

.setBar:after {
	content:"|";
	display: inline-block;
	margin-left: 10px;
}

/*OPTIONS CLASSES*/

.options {
	background-color: #4DD7FA;
	border: 2px solid black;
	width: 305px;
	height: 450px;
	margin: 4px;
	float: left;
	border-box: box-sizing;
}

.options :nth-child(n) {
	margin: 10px;
}

.genre {
	display: block;
} 

/*input[type="checkbox"] {
	display: block;
}*/

.checkBoxLeft {
	margin: 10px;
	width: 120px;
	display: inline-block;
}

.checkBoxRight {
	margin: 10px;	
	width: 120px;
	display: inline-block;
}

.button {
	text-align: center;
	/*margin-top: 20px; RESUME HERE*/
}


/*SONG NAME CLASSES*/
.songDiv {
	margin: 20px 5px;
}

.titleTrack {
	font-size: 1.5em;
	color: #785616;
	margin-top: 10px 0 10px 0;
}

.artist {
	margin: 0 0 0 5px;
	display: inline-block;
	font-size: 1.25rem;
	color: black;
}

.album {
	margin: 0;
	padding-left: 5px;
	display: inline-block;
	font-size: 1.25rem;
	color: black;
}

.deleteButtons {
	float: right;
	color: tomato;
}

.addInput {
	display: inline-block;
	padding: 10px;
	float: left;
	margin: 20px 45px;
}

/*id's*/

#needMoreSongs {
	float: right;
	margin-top: 5px;

}

#addSongDiv {
	width: 250px;
	height: 300px;
	margin: 50px auto;
	border: 3px solid grey;
}

#add {
	display: inline-block;
	padding: 10px;
	float: left;
	margin: 10px 85px;
}



